@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.item {
	margin: 10px 0px;
}
.item-creator {
  	font-size: 20px;
  	font-weight: 600;
}
.item-content {
	font-size: 40px;
}
.response-creator {
	font-weight: 600;
}

.items-container {
	padding: 1rem 0;
}
